/* Universal styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
 }
 
:root {
    font-size: 16px;
    --font-color: #6B7082;
    --heading-color: #2E3349;
    --font-family: 'Kumbh Sans', sans-serif;
}

/* main content  */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: var(--font-family);
    background:  url(./images/bg-pattern-top.svg) top -24.625rem left -18.75rem  no-repeat, url(./images/bg-pattern-bottom.svg) bottom -21.875rem right -18.75rem no-repeat, #19a1ae;
    background-size: 38.875rem;
}

.top,
.bottom {
    width: 20.375rem;
}

.top {
    height: 17.875rem;
    background: #fff;
    border-radius: 0.9375rem 0.9375rem 0 0;
}
.top img {
    height: 140px;
    border-radius: 0.9375rem 0.9375rem 0 0;  
}

.avatar-holder {
    position: absolute;
    height: 6rem;
    width: 6rem;
    left: calc(50% - 96px/2);
    top: calc(50% - 96px/2 - 47px);
    border-radius: 50%;
    border: 5px solid #fff;
    background: url(./images/image-victor.jpg) center;
} 

.bottom {
    background: #fff;
    height: 5.5rem;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #E8E9EC;
    border-radius: 0 0 0.9375rem 0.9375rem;
    padding-top: 1.5rem;
}

/* Typography  */
h1 {
    margin-top: 4.5rem;
    margin-left: 6.75rem;
    font-size: 1.125rem;
    
}

h1, h2 {
    color: var(--heading-color);
    line-height: 1.395rem;
    font-weight: 700;
}

h2 {
    font-size: 1.125rem;

}

span {
    font-weight: 400;
    color: var(--font-color);
    line-height: 1.395rem;
    margin-left: 0.5rem;
}

p {
    color: var(--font-color);
}

.top p {
    margin-top: 0.5rem;
    margin-left: 8.625rem;
    font-size: 0.875rem;
}

.bottom p {
    font-size: 0.625rem;
    line-height: 0.775rem;
    letter-spacing: 1.5px;
}


/* Media queries */
 
@media (min-width: 1000px){
    body{
        background:  url(./images/bg-pattern-top.svg) top -25.625rem left -18.75rem  no-repeat, url(./images/bg-pattern-bottom.svg) bottom -30.875rem right -18.75rem no-repeat, #19a1ae;
        background-size: 61.125rem;
    }

    .top,
    .bottom {
        width: 21.875rem;
    }
}
 
